# ignore gradle configs
.gradle/
build/

# ignore eclipse configs
.settings/
.project
.classpath

# ignore binary files and web libs
WebContent/WEB-INF/classes
WebContent/WEB-INF/lib

# ignore node and bower
node_modules/
WebContent/ngapp/scripts/vendor
